#caja1{
    background-size: cover;
    background-color: white;
    height: 100px;
    width:100px;
    top: 100px;
}

.interlineado{
    position: absolute;
    line-height: 25px;
    height: 100px;
    top: 400px;
    font-size: 20px;
}

.sub1{
    position: absolute;
    width: 1440px;
    top: 350px;
    background: #C4C4C4;
    height: 30px;
    color:#005677;
    left: 12.45px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Mochiy Pop One', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 100%;
    font-feature-settings: 'cpsp' on;
}

.sub2{
    position: absolute;
    width: 1440px;
    top: 500px;
    background: #C4C4C4;
    height: 30px;
    color:#005677;
    left: 12.45px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Mochiy Pop One', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 100%;
    font-feature-settings: 'cpsp' on;
}

.sub3{
    position: absolute;
    width: 1440px;
    top: 765px;
    background: #C4C4C4;
    height: 30px;
    color:#005677;
    left: 12.45px;
    font-family: 'Dongle', sans-serif;
    font-family: 'Mochiy Pop One', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 100%;
    font-feature-settings: 'cpsp' on;
}

.imagen{
    position: absolute;
    width: 150px;
    height: 146.37px;
    top: 20.91px;
    align-items: center;
}

.titulo{
    position: absolute;
    width: 1440px;
    height: 60px;
    background: #C4C4C4;
    top: 150px;
    color:#005677;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 150%;
    font-feature-settings: 'cpsp' on;
    font-family: 'Mochiy Pop One', sans-serif;
}

.list2{
    position: absolute;
    width: 1440px;
    top: 550px;
    font-size: 20px;
}
.list3{
    position: absolute;
    width: 1440px;
    top: 810px;
    font-size: 20px;
}

.foot{
    position: absolute;
    width: 1440px;
    top: 950px;
    background: #005677;
    color:white;
    height: 35px;
    left: -200px;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 150%;
font-feature-settings: 'cpsp' on;
}

.link{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 800px;
    top: 985px;
    background: #005677;
    color:white;
    font-size: 27px;
    line-height: 150%;
font-feature-settings: 'cpsp' on;
}
.insta{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 750px;
    top: 985px;
    background: #005677;
    color:white;
    font-size: 27px;
    line-height: 150%;
font-feature-settings: 'cpsp' on;
}

span{
    font-family: Times New Roman;
    font-style: italic;
    font-weight: bold;
    color: #000000;
    width: 199px;
    }

header{
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url(../resources/descarga\ \(1\).jpg);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}

.git{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 850px;
    top: 985px;
    background: #005677;
    color:white;
    font-size: 27px;
    line-height: 150%;
font-feature-settings: 'cpsp' on;
}

.sobremi{
    position: absolute;
    width: 50px;
    height: 45px;
    left: 950px;
    top: 978px;
    background: #005677;
    color:white;
    font-size: 15px;
    line-height: 90%;
font-feature-settings: 'cpsp' on;
}

.descripcion{
    position: absolute;
    line-height: 25px;
    height: 100px;
    top: 300px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.descripcion2{
    position: absolute;
    line-height: 25px;
    height: 100px;
    top: 400px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.fondo{
    background-color: rgb(117, 221, 178);
}
.boton{
    position: absolute;
    width: 1500px;
    height: 60px;
    background-color:  #C4C4C4;
    background-position: center;
    top: 500px;
    color:#005677;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 200%;
    font-feature-settings: 'cpsp' on;
    font-family: 'Mochiy Pop One', sans-serif;
}